language: cpp
compiler: gcc
os: linux
cache: apt

addons:
  apt:
    sources:
      - boost-latest
      - ubuntu-toolchain-r-test
      - sourceline: 'ppa:george-edison55/cmake-3.x'
    packages:
      - gcc-6
      - g++-6
      - libboost-all-dev
      - cmake

install:
  # setup g++ 6
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 90
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 90
  # verify installed versions
  - which cmake
  - cmake --version
  - which g++
  - g++ --version

script:
  - mkdir build
  - cd build
  - cmake ..
  - make
